/* Color Scheme
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$white: #FFFFFF;
$dark-white: #FBFBFB;

$light-grey: #EDEDED;
$medium-grey: #BBBBBB;
$dark-grey: #474747;

$light-blue: #71B6FD;
$dark-blue: darken($light-blue, 10%);

$red: #FF5F5F;
$green: #45BF55;
